ion-input {
  --background: #ffffff;
}

ion-button {
  --background: #5CB4CB;
  --border-color: #ffffff;
  --border-style: solid;
  --border-radius: 0;
  --border-width: 3px;
  --color: #ffffff;
  margin-left: 0;
  margin-right: 0; 
}
